$colorBlack: #000000;
$colorWhite: #ffffff;

$primaryColor: #3768ce;
$blueLight: #6a9be4;
$linearBanner: linear-gradient(-35deg, #83c3e9, var($primaryColor));
$redColor: #ff4343;
$colorText: #252627;
$colorParagrph: #86878f;
$purpleColor: #b474f6;
$bgContent: #f6f6ff;
$greenColor: #2dedc5;
$whiteColor: #fff;
$bg-card: #fff;
$sidebarWidth: 250px;
